{% extends 'base.html' %}

{% block title %}Hompage{% endblock %}

{% block body %}

    <div class="jumbotron">
        <button type="button" class="btn btn-dark btn-lg btn-block"><a href="{% url 'studentHomepage' %}">Are you a Student</a></button>
        <button type="button" class="btn btn-dark btn-lg btn-block"><a href="{% url 'parentHomepage' %}">Are you a Parent</a></button>
        <button type="button" class="btn btn-dark btn-lg btn-block"><a href="{% url 'teacherHomepage' %}">Are you a Teacher</a></button>
    </div>
    <div class="jumbotron">
        <button type="button" class="btn btn-dark btn-lg btn-block"><a href="{% url 'applystudent' %}">Want to be Student</a></button>
        <button type="button" class="btn btn-dark btn-lg btn-block"><a href="{% url 'applyparent' %}">Want to be Parent</a></button>
        <button type="button" class="btn btn-dark btn-lg btn-block"><a href="{% url 'applyteacher' %}">Want to be Teacher</a></button>
    </div>
    
    
{% endblock %}